@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1140px;
    margin: 0 auto;
}

.container {
}


.bg-container {
width: 1140px;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    z-index: -1;
    top: -90px;
}

/* NavBar */
.container-nav {
    font-family: 'Roboto', sans-serif;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(2px);
}

.logo-nav img {
    width: 85px;
}

.sb-nav-icon {
    display: flex;
    color: #E5E5E5;
    justify-content: space-between;
}

.nav-menu {
    display: inline-flex;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #E5E5E5;
}

.nav-menu a:hover {
    color: #fff;
    border-bottom: 2px solid;
    transform: translateX(1.5rem);
}

.line-1 {
    border: 1px solid;
    margin-right: 10px;
}

.icon-nav {
    display: flex;
    justify-items: center;
}

.icon-nav img {
    margin-top: 4px;
    justify-items: center;
    padding-right: 8px;
    padding-left: 10px;
    border-radius: 9999px;
}

.line-2 {
    border: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
}

.search-icon {
    border-radius: 9999px;
    display: flex;
    margin-top: 4px;
    justify-items: center;
}

.search-icon img {
    padding-right: 0px;
    padding-left: 3px;
    margin-top: -3px;
}

/* NavBar End*/

/* Header */

.header {
    font-family: 'Lora', serif;
    margin: auto 80px;
    z-index: 1;
    position: absolute;
    top: 25%;
    display: block;
}

.text-adventure {
    height: 30px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    margin-bottom: 25px;
}

.text-adventure p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}

.header h1 {
    width: 530px;
    height: 92px;
    font-size: 36px;
    color: #fff;
}

.sb-line-text {
    font-size: 12px;
    color: #fff;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.line-3 {
    width: 60px;
    margin: 0 12px;
    position: relative;
    top: 7px;
    border-top: 1px solid #fff;
}

/* Header End */

/* Content Main */

.content-main {
    position: relative;
    top: -3rem;
    padding: 0 80px;
}

.topic {
    font-family: 'Lora', serif;
    color: #495057;
}

.menu-topic {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.menu-left {
    display: flex;
    justify-content: space-between;
}

.menu-left li {
    list-style: none;
    padding-right: 30px;
}

.menu-left a, .menu-right a {
    font-family: 'Lora', serif;
    font-size: 12px;
    text-decoration: none;
    color: #495057;
}

.menu-right li {
    list-style: none;
}

.menu-left a:hover, .menu-right a:hover {
    color: #D4A373;
}

/* Columns Top */

.content-columns-top {
    margin-top: 30px;
    z-index: -1;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topic-adventure-1 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 8.5rem;
    left: 13rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-adventure-1 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.topic-travel-1 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 8.5rem;
    left: 30rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-travel-1 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.topic-technology-1 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 8.5rem;
    left: 44.5rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-technology-1 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.topic-fashion-1 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 8.5rem;
    left: 61.5rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-fashion-1 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.content-columns-1 img {
    width: 100%;
}

.content-info {
    font-family: 'Lora', serif;
    margin: 5px 0;
}

.content-info p {
    font-size: 10px;
    color: #6C757D;
}

.content-info h4 {
    color: #495057;
    font-weight: 500;
    margin: 10px 0;
}

/* Columns Top End */


/* Columns Bottom */

.content-columns-bottom {
    margin-top: 30px;
    z-index: -1;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topic-adventure-2 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 33rem;
    left: 13rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-adventure-2 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.topic-travel-2 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 33rem;
    left: 30rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-travel-2 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.topic-technology-2 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 33rem;
    left: 44.5rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-technology-2 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.topic-fashion-2 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 33rem;
    left: 61.5rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.topic-fashion-2 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.content-columns-2 img {
    width: 100%;
}

.content-info {
    font-family: 'Lora', serif;
    margin: 5px 0;
}

.content-info p {
    font-size: 10px;
    color: #6C757D;
}

.content-info h4 {
    color: #495057;
    font-weight: 500;
    margin: 10px 0;
}
/* Columns Bottom End */
/* Content Main End */

/* Article */

.big-post {
    width: 1140px;
    height: 475px;
}

.big-post, .article-info {
    display: inline-block;
    text-align: center;
}

.img-article img {
    z-index: -1;
    width: 100%;
}

.article-info {
    width: 420px;
    top: -340px;
    position: relative;
}

.article-fashion {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    position: relative;
    left: 42.5%;
    right: -44%;
    width: 62px;
}

.article-fashion p {
    font-family: 'Roboto', sans-serif;
    height: 20px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 200;
}

.articel-info-h2 {
    font-family: 'Lora', serif;
}

.articel-info-h2 h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.articel-info-h2 p, .articel-date p {
    text-align: center;
    color: #fff;
    font-size: 10px;
}

.articel-line {
    width: 20px;
    position: relative;
    left: 47.5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #fff;
}
/* Article End */

.blog-metro-h1 {
    color: #495057;
    position: relative;
    top: -150px;
}

.blog-metro-columns {
    position: relative;
    top: -130px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
}

.blog-metro-p-1 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 1rem;
    left: 18rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.blog-metro-p-1 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.blog-metro-columns img {
    width: 100%;
}

.blog-metro-info-1 {
    font-family: 'Lora', serif;
    position: absolute;
    top: 9rem;
    left: 2rem;
    width: 300px;
}

.blog-metro-info-1 p {
    margin: 10px 0;
    color: #fff;
    font-size: 10px;
}

.blog-metro-info-1 h4 {
    font-weight: 300;
    color: #fff;
}

.blog-metro-p-2 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 1rem;
    left: 42rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.blog-metro-p-2 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.blog-metro-info-2 {
    font-family: 'Lora', serif;
    position: absolute;
    top: 9rem;
    left: 26rem;
    width: 300px;
}

.blog-metro-info-2 p {
    margin: 10px 0;
    color: #fff;
    font-size: 10px;
}

.blog-metro-info-2 h4 {
    font-weight: 300;
    color: #fff;
}

.blog-metro-p-3 {
    background-color: rgba(205, 205, 205, 0.3);
    border-radius: 0.8rem;
    top: 1rem;
    left: 66rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.blog-metro-p-3 p {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}

.blog-metro-info-3 {
    font-family: 'Lora', serif;
    position: absolute;
    top: 9rem;
    left: 50rem;
    width: 300px;
}

.blog-metro-info-3 p {
    margin: 10px 0;
    color: #fff;
    font-size: 10px;
}

.blog-metro-info-3 h4 {
    font-weight: 300;
    color: #fff;
}

/* Footer */

footer {
    font-family: 'Lora', serif;
    background-color: #212529;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-footer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.contact-the-publisher h3 {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}

.contact-the-publisher p {
    margin-top: 20px;
    font-size: 12px;
    color: #E5E5E5;
}

.explorate h3 {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}

.explorate ul {
    margin-top: 20px;
}

.explorate li {
    list-style: none;
    margin-top: 10px;
}

.explorate a {
    text-decoration: none;
    font-size: 12px;
    color: #E5E5E5;
}

.headquarter h3 {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}

.headquarter p {
    width: 130px;
    margin-top: 20px;
    font-size: 12px;
    color: #E5E5E5;
}

.connections h3 {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}

.icon-social {
    margin-top: 20px;
}

.icon-social img {
    margin-right: 10px;
}